xml-resources/web-service-references/alunows/wsdl/localhost_8000/alunows.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8000/alunows" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost:8000/alunows" name="WebserviceAlunoService">
<types>
<xsd:schema>
<xsd:import namespace="http://localhost:8000/alunows" schemaLocation="http://localhost:8000/alunows?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="inserir">
<part name="parameters" element="tns:inserir"></part>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"></part>
</message>
<message name="remover">
<part name="parameters" element="tns:remover"></part>
</message>
<message name="removerResponse">
<part name="parameters" element="tns:removerResponse"></part>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"></part>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"></part>
</message>
<message name="alterar">
<part name="parameters" element="tns:alterar"></part>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"></part>
</message>
<portType name="WebserviceAluno">
<operation name="inserir">
<input wsam:Action="http://localhost:8000/alunows/WebserviceAluno/inserirRequest" message="tns:inserir"></input>
<output wsam:Action="http://localhost:8000/alunows/WebserviceAluno/inserirResponse" message="tns:inserirResponse"></output>
</operation>
<operation name="remover">
<input wsam:Action="http://localhost:8000/alunows/WebserviceAluno/removerRequest" message="tns:remover"></input>
<output wsam:Action="http://localhost:8000/alunows/WebserviceAluno/removerResponse" message="tns:removerResponse"></output>
</operation>
<operation name="listar">
<input wsam:Action="http://localhost:8000/alunows/WebserviceAluno/listarRequest" message="tns:listar"></input>
<output wsam:Action="http://localhost:8000/alunows/WebserviceAluno/listarResponse" message="tns:listarResponse"></output>
</operation>
<operation name="alterar">
<input wsam:Action="http://localhost:8000/alunows/WebserviceAluno/alterarRequest" message="tns:alterar"></input>
<output wsam:Action="http://localhost:8000/alunows/WebserviceAluno/alterarResponse" message="tns:alterarResponse"></output>
</operation>
</portType>
<binding name="WebserviceAlunoPortBinding" type="tns:WebserviceAluno">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="inserir">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="remover">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="alterar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebserviceAlunoService">
<port name="WebserviceAlunoPort" binding="tns:WebserviceAlunoPortBinding">
<soap:address location="http://localhost:8000/alunows"></soap:address>
</port>
</service>
</definitions>